@include mediaXSm {
  img.logo-img {
    width: 80% !important;
  }
  .navbar {
    a {
      width: 100px !important;
    }
  }
  .navbar-scroll {
    a {
      width: 100px !important;
    }
  }

  .projects {
    .projects-cont {
      width: 80%;
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}

@include mediaSm {
  img.logo-img {
    width: 80% !important;
  }
  .navbar {
    a {
      width: 100px !important;
    }
  }
  .navbar-scroll {
    a {
      width: 100px !important;
    }
  }
  .about {
    .bio {
      font-size: 13px !important;
    }
  }
  .projects {
    .projects-cont {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include mediaMd {
  .about {
    .about-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .logo-img {
    width: 400px !important;
    margin-bottom: 20px;
  }
  .blurb {
    font-size: 14px !important;
  }
  .navbar {
    a {
      width: 130px;
    }
  }
  .navbar-scroll {
    a {
      width: 130px;
    }
  }

  .bio {
    font-size: 14px !important;
  }
  .projects {
    .projects-cont {
      width: 80%;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}
@include mediaLg {
  .logo-img {
    width: 650px !important;
    margin-bottom: 20px;
  }
  .projects {
    .projects-cont {
      width: 80%;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  footer {
    bottom: 0 !important;
  }
  /* .projects {
    height: 230vh !important;
  } */
}
@include mediaXl {
  .contact {
    height: 91vh !important;
  }
  footer {
    padding-bottom: 63px !important;
  }
}
