@import "config";
@import "nav";
@import "mobile";
* {
  border: 2px black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//Landing//////////////////////////
.landing {
  text-shadow: 0 0 80px black;
  position: relative;
  background: url(../img/bround.jpg) no-repeat center/cover;

  height: 100vh;
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 135px 0 7px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba($white, 0.9);
    font-size: 100px;
    margin-top: -100px;
  }
  .logo {
    font-family: Stella;
  }
  .blurb {
    font-family: "Poiret One", cursive;
    font-size: 20px;
    letter-spacing: 5px;
  }
}
.section-title {
  display: inline-block;
  font-family: Noah-Bold;
  font-size: 50px;

  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 4px solid $blue;
}
//Landing Page///////////////////////////////
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 400;
}
.about {
  height: 150vh;
  .about-container {
    max-width: 800px;
    padding: 0 50px 0 50px;
    margin: auto;
    /*margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    text-align: center;
    /*   display: grid; */
    grid-template-columns: repeat(1, 1fr);
    .profile-pic {
      font-size: 13px;
      width: 200px;
      margin-bottom: 80px;
      border-radius: 1000px;
      box-shadow: 0 0 120px rgba($blue, 0.2);
    }
    .bio {
      font-family: IBM Plex Sans;
      font-size: 17px;
      font-weight: 900;
    }
  }
}
//About Page///////////////////////////////////////////

.projects {
  height: 200vh;
  text-align: center;
}
.contact {
  height: 200vh;
}
.dark-overlay {
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: scroll;
  height: 92vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
}
//parallax//////////
/* .parallax-image {
  position: relative;
  background: no-repeat center/cover;
  height: 100vh;
  z-index: -1;

  .bround {
    height: 100vh;
  }
} */
//parallax//////////
