@import "config";
@import "nav";
@import "mobile";
@import "projects";

* {
  border: 2px black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//Landing//////////////////////////
.landing {
  text-shadow: 0 0 80px black;
  position: relative;
  background: url(../img/bround.jpg) no-repeat center/cover;

  height: 100vh;
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 135px 0 7px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba($white, 0.9);
    font-size: 100px;
    margin-top: -100px;
  }
  .logo {
    font-family: Stella;
  }

  .blurb {
    font-family: "Poiret One", cursive;
    font-size: 20px;
    letter-spacing: 5px;
  }
}
.logo-img {
  width: 800px;
  margin-bottom: 20px;
}
.section-title {
  display: inline-block;
  font-family: Noah-Bold;
  font-size: 50px;

  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 4px solid $blue;
}
//Landing Page///////////////////////////////
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 400;
}
.about {
  height: 145vh;
  .about-container {
    max-width: 90%;
    margin: auto;
    /*margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    text-align: center;
    /*   display: grid; */
    grid-template-columns: repeat(1, 1fr);
    .profile-pic {
      font-size: 13px;
      width: 200px;
      margin-bottom: 80px;
      border-radius: 1000px;
      /* box-shadow: 0 0 120px rgba($blue, 0.2); */
    }
    .bio {
      font-family: IBM Plex Sans;
      font-size: 17px;
      font-weight: 900;
    }
  }
}
//About Page///////////////////////////////////////////

.dark-overlay {
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: scroll;
  height: 92vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
}
//parallax//////////
/* .parallax-image {
  position: relative;
  background: no-repeat center/cover;
  height: 100vh;
  z-index: -1;

  .bround {
    height: 100vh;
  }
} */
//parallax//////////
.section-title {
  margin-bottom: 90px;
}
.projects {
  height: 110vh;
  text-align: center;
  font-family: Noah-Bold;
  .showw {
    color: white;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .blur {
    filter: blur(8px);
  }
  .showw .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .project-info {
    margin-top: 10px !important;
  }
  .show-second img {
    transition: all 0.3s ease-in-out;
  }
  .show-second .mask {
    background-color: rgba(black, 0.6);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .show-second:hover .mask {
    transform: translateX(0px);
  }
  .details-container {
    margin-top: 10%;
  }
  .show-second:hover p {
    opacity: 1;
    transition-delay: 0.8s;
  }
  .project-name {
    margin-top: 1px !important;
    font-size: 30px;
  }
  .what {
    margin-top: -3px;
    color: white;
    letter-spacing: 3px;
  }
  .techu {
    margin-top: 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
  }
  .tech {
    font-size: 12px;
  }
  .hr1 {
    opacity: 0.3;
    margin-top: -10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .pcons {
    padding: 30px;
    color: white;
    font-size: 20px;
    &:hover {
      color: $blue;
    }
  }
  .projects-cont {
    max-width: 800px;
    padding: 0 50px 0 50px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
      width: 100%;
      padding: 0;
      &:hover {
        filter: blur(8px);
        transition: easeOut;
      }
    }
    .project-text {
      text-decoration: none;
      text-align: center;
      margin-top: -33px;
      color: white;
      text-shadow: -1px 1px 10px black;
    }
  }
  //////////
}
////CONTACT
.contact {
  height: 100vh;
  text-align: center;
}
.center {
  display: table;
  width: 100%;
  margin-bottom: -200px;
}

#social-test {
  font-size: 25px;
  .social {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: black;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    cursor: pointer;

    transition: ease 0.3s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.41);
      color: white;
      border: 2px solid white;
    }
  }
}
.social:hover > li {
  opacity: 0.5;
}
.social:hover > li:hover {
  opacity: 1;
}
footer {
  position: relative;
  width: 100%;
  color: black !important;
  bottom: -458px;
  color: white;
  font-family: "Poiret One", cursive;
}
