@import "config";
@import "nav";
@import "mobile";
@import "projects";

* {
  border: 2px black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//Landing//////////////////////////
.landing {
  text-shadow: 0 0 80px black;
  position: relative;
  background: url(../img/bround.jpg) no-repeat center/cover;

  height: 100vh;
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 135px 0 7px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba($white, 0.9);
    font-size: 100px;
    margin-top: -100px;
  }
  .logo {
    font-family: Stella;
  }

  .blurb {
    font-family: "Poiret One", cursive;
    font-size: 20px;
    letter-spacing: 5px;
  }
}
.logo-img {
  width: 800px;
  margin-bottom: 20px;
}
.section-title {
  display: inline-block;
  font-family: "Poiret One", cursive;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: none;
}
.underline-blue {
  width: 80px;
  height: 4px;
  background-color: $blue;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 40px;
}
.underline {
  width: 80px;
  height: 4px;
  background-color: $blue;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 40px;
}
.about-s {
  margin-top: 80px;
}
.projects-s {
  color: black;
  border-bottom: none;
}

//Landing Page///////////////////////////////
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 400;
}
.about {
  height: auto;
  margin-bottom: 60px;
  .about-container {
    max-width: 90%;
    margin: auto;
    /*margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    text-align: center;
    /*   display: grid; */
    grid-template-columns: repeat(1, 1fr);
    .profile-pic {
      font-size: 13px;
      width: 200px;
      margin-bottom: 80px;
      border-radius: 1000px;
      /* box-shadow: 0 0 120px rgba($blue, 0.2); */
    }
    .bio {
      font-family: IBM Plex Sans;
      font-size: 15px;
      font-weight: 900;
    }
  }
}
//About Page///////////////////////////////////////////

.dark-overlay {
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: scroll;
  height: 92vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
}
//parallax//////////
/* .parallax-image {
  position: relative;
  background: no-repeat center/cover;
  height: 100vh;
  z-index: -1;

  .bround {
    height: 100vh;
  }
} */
//parallax//////////

.projects {
  background-color: #e4eeff;
  height: auto;
  text-align: center;
  font-family: Noah-Bold;
  padding-bottom: 70px;
  .showw {
    color: white;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .blur {
    filter: blur(8px);
  }
  .showw .mask {
    border-radius: 5000px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .project-info {
    margin-top: 10px !important;
  }
  .show-second img {
    transition: all 0.3s ease-in-out;
  }
  .show-second .mask {
    /*   background-color: rgba(black, 0.6); */
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .show-second:hover .mask {
    transform: translateX(0px);
  }

  .show-second:hover p {
    opacity: 1;
    transition-delay: 0.8s;
  }
  .project-name {
    margin-top: 1px !important;
    font-size: 30px;
  }
  .what {
    margin-top: -3px;
    color: white;
    letter-spacing: 3px;
  }
  .techu {
    margin-top: 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
  }
  .tech {
    font-size: 12px;
  }
  .hr1 {
    opacity: 0.3;
    margin-top: -10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .pcons {
    padding: 30px;
    color: black;
    font-size: 20px;
    &:hover {
      color: $blue;
    }
  }
  .projects-cont {
    max-width: 800px;
    padding: 0 50px 0 50px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
      transform: translate(-2.1px, -2.1px);
      width: 103%;
      height: 103%;
      padding: 0;

      border-radius: 1000px;
      &:hover {
        filter: blur(4px);
        transition: easeOut;
      }
    }
    .project-text {
      text-decoration: none;
      text-align: center;

      color: white;
      text-shadow: -1px 1px 10px black;
    }
  }

  //////////
}
hr {
  color: black;
  background-color: black;
}
////CONTACT
.contact {
  height: auto;
  text-align: center;
}
.center {
  margin-top: 100px;
  display: table;
  width: 100%;
  margin-bottom: 100px;
}

#social-test {
  font-size: 25px;
  .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
    max-width: 400px;
    margin: 0 auto;
  }
  li {
    display: inline-block;
  }
  li a {
    color: black;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 10px;
    transition: ease 0.3s;
    box-shadow: -1px 1px 10px solid black !important;
    &:hover {
      background-color: $blue;
      color: white;
      border: 2px solid white;
    }
  }
}
.social:hover > li {
  opacity: 0.5;
}
.social:hover > li:hover {
  opacity: 1;
}
footer {
  position: relative;
  width: 100%;
  padding: 41px 0;
  background-color: #e4eeff;
  color: black !important;
  bottom: 0;

  font-family: "Poiret One", cursive;
}

.btn26 {
  border-radius: 1000px;
  height: 96% !important;
  width: 96% !important;
  overflow: hidden;
  position: relative;
  box-shadow: -1px 1px 15px #081a54;
}

.btn26 .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn26 .buttons .fa {
  transform: scale(0);
  opacity: 0;
  background: rgb(256, 256, 256);
  border-radius: 1000px;
  display: inline-block;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  color: rgba(50, 50, 50, 0.9);
  transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405);
  &:hover {
    background-color: $blue;
  }
}
h6 {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.b6 .fa {
  background-color: rgba(198, 19, 192, 0) !important;
}
.btn26 .buttons .fa-search {
  transition-delay: 0.1s;
}
.btn26:hover .buttons .fa {
  transform: scale(1);
  opacity: 1;
}
.fa {
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(
    circle at bottom,
    #e4eeff,
    #76deef 10%,
    $blue 80%,
    #062745 100%
  );
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}
.ball.plain {
  background: black;
}
.ball.plain:before,
.ball.plain:after {
  display: none;
}
.ball.bubble {
  background: radial-gradient(
    circle at 50% 55%,
    #e4eeff,
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    $blue
  );
  box-shadow: -1px 1px 30px rgba(42, 40, 73, 0.2);
  -webkit-animation: bubble-anim 2s ease-out infinite;
  animation: bubble-anim 2s ease-out infinite;
  &:hover {
    transition: 0.4s;
    box-shadow: -10px 10px 30px rgba(42, 40, 73, 0.1);
    margin-left: 4px;
    margin-bottom: 7px;
  }
}
.ball.bubble:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(
    circle at 130% 130%,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 46%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 58%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg)
    rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball.bubble:after {
  display: block;
  background: radial-gradient(
    circle at 50% 80%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 74%,
    white 80%,
    white 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.stage {
  left: 50%;
  transform: translate(-118px, -295px);
  position: absolute;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
